<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.heinzl.glasscompanion" >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="dev.heinzl.glasscompanion.GlassCompanionApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iristick">

        <activity android:name="dev.heinzl.glasscompanion.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="dev.heinzl.glasscompanion.camera.CameraActivity"
            android:theme="@style/Theme.Iristick.NoActionBar"
            android:screenOrientation="landscape" />

        <activity android:name="dev.heinzl.glasscompanion.barcode.BarcodeActivity" />

        <activity android:name="dev.heinzl.glasscompanion.barcode.ContinuousBarcodeActivity"
            android:theme="@style/Theme.Iristick.NoActionBar"/>

        <activity android:name="dev.heinzl.glasscompanion.displaypresentation.DisplayPresentationActivity" />

        <activity android:name="dev.heinzl.glasscompanion.displaysurface.DisplaySurfaceActivity" />

        <activity android:name="dev.heinzl.glasscompanion.sensorsreadout.SensorsReadoutActivity" />

        <activity android:name="dev.heinzl.glasscompanion.touchpad.TouchpadActivity" />

        <activity android:name="dev.heinzl.glasscompanion.voicegrammar.VoiceGrammarActivity" />

    </application>

</manifest>
